<h1>Users</h1>

<div>
 <% @users.each do |user| %>

 <h2>Image</h2>
 <%= image_tag 'no_image.jpg' %>

 <h2>Name</h2>
 <%= user.name %>

 <%= link_to "Show", user_path(user.id) %>
 <% end %>


</div>

<%= render 'books/create', book: @book %>




